<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate - SSL Security Analyzer for Android applications</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/index">Analyze</a></li>
                <li role="presentation"><a href="/settings">Settings</a></li>
            </ul>
            <h3 class="text-muted">SSL Security Analyzer</h3>
        </nav>
    </div>

    <h1>Certificate</h1>

    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" value="{{ c.name if c.name != None }}">

    <label for="default">Is default certificate setting</label>
    <input type="checkbox" class="form-control" id="default" {% if c.is_default %}checked{% endif %} style="width: 33px">

    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3">{{ c.description if c.description != None }}</textarea>

    <label for="custom_cert">Custom certificate</label>
    <textarea class="form-control" id="custom_cert" rows="10"
              placeholder="Enter an optional custom certificate to be used">{{ c.custom_cert if c.custom_cert != None }}</textarea>

    <label for="custom_cert_domain">Custom certificate domain</label>
    <input type="text" class="form-control" id="custom_cert_domain"
           placeholder="Enter a domain for which the custom certificate should be used"
           value="{{ c.custom_cert_domain if c.custom_cert_domain != None }}">

    <label for="custom_ca">Custom certificate authority</label>
    <textarea class="form-control" id="custom_ca" rows="10"
              placeholder="Enter an optional custom certificate authority to be used">{{ c.custom_ca if c.custom_ca != None }}</textarea>
</div>

</body>
</html>