<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}
<body>
    <div class="container">
        {% include "partials/header.html" %}
        <h1>Login or register</h1>

        <form name="form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <br />
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </form>

        <button id="login-btn" class="btn btn-primary" ajax-form="form"
                ajax-url="{{ url_for('login') }}" ajax-method="POST">Login</button>

        <button id="register-btn" class="btn btn-default" ajax-form="form"
                ajax-url="{{ url_for('register') }}" ajax-method="POST">Or register (with same data)</button>
    </div>
</body>
</html>